

/* Big tablets to 1200px (widths smaller than the 1140px row  */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
    width: 100%;
    padding: 0 2%; }
    .row { padding: 0 2%; }
    
    }


/* Small tablets to big tablets: from 768to 1024px */
@media only screen and (max-width: 1023px) {

    body {font-size: 18px;}
    section {padding: 60px 0;}
    .long-copy {
        width: 95%;
        margin-left: 5%;
    }

    .logo { height:90%;}

    .steps-box {margin-top: 10px;}
    .steps-box:last-child { margin-top: 10px; }
    .work-steps:last-of-type {margin-bottom: 60px;}
    .work-steps {margin-bottom: 40px;} 

    .app-screen {width:50%;}

    .icon-md {font-size: 1rem;}

    .list-icons li {font-size: 70%;}

    .plan-box {
        width: 100%;
        margin-left: 0%;
    }

    .plan-price {font-size: 250%;}

    .plan-price-meal {font-size: 90%;}
    

    
}


/* Small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {
    
}


/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

}