/* ---------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------- */

* {
    box-sizing: border-box;
}

body { 
    font-family: 'Lato', sans-serif;
    color: #555;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizelegibility; 
}

.clearfix {zoom: 1}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ---------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box { 
    padding: 1%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ---------------------------------------------------- */
/* HEADER */
/* ---------------------------------------------------- */

header {
    height: 100vh;
    background-image: linear-gradient(rgba( 0, 0, 0, 0.7), rgba( 0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-text-box {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    width: auto;
    height: 100px;
    float: left;
    margin-top: 15px;
}

.main-nav {
    float: right;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link, 
.main-nav li a:visited {
    padding: 3px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: .25s ease-in-out;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* ------ BUTTONS------ */

.btn:hover,
.btn:active,
input[type=submit]:hover
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn:link,
.btn:visited, 
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: .25s ease-in-out;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited
 {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active  {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #e67e22;
    color: #fff;
}

/* ---------------------------------------------------- */
/* FEATURES */
/* ---------------------------------------------------- */

.section-features .long-copy {
    margin-bottom: 30px;
}

/* ------ HEADINGS ------ */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px; 
}

h2:after {
    display: block;
    width: 100px;
    height: 2px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #e67e22;
    content: " ";
}

h3 {
    font-size: 110%;
    margin: 15px 0 10px;
}

p {
    margin: 10px 0;
}

blockquote {
    font-style: italic;
    line-height: 1.5;
    margin-top: 50px;
    margin-right: 0;
    margin-left: 0;
    padding: 2%;
    position: relative;
}

ul {
    margin: 10px 0;
    padding: 0;
}

.list-unstyled {
    list-style: none;
}

.list-icons li {
    font-size: 90%;
}

.list-icons i {
    position: relative;
    top: .25rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.list-icons li a {
    transition: .25s ease-in-out;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.list-icons li a:hover {
    color: #1431D9;
    border-bottom-color: #1431D9;
}

section { 
    padding: 80px 0;
}

/* ------ paragraphs ----- */

.long-copy {
    line-height: 145%;
    width: 80%;
    margin-left: 10%;
}

/* ------ color setters ------ */
.color-primary {
    color: #e67e22;
}

.color-secondary {
    color: #4595FF;
}

/* ------ icons ----- */

.icon-lg {
    font-size: 3rem;
}

.icon-md {
    font-size: 2rem;
}
   
.icon-sm {
    font-size: 1rem;
}





/* ---------------------------------------------------- */
/* MEALS */
/* ---------------------------------------------------- */

.section-steps {
    background-color: #f4f4f4;
}

.section-meals {
    padding: 0;
}

.meals-showcase {
    width: 100%;
    margin: 0;
    list-style: none;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    width: 100%;
    height: auto;
    transform: scale(1.05);
    opacity: 0.7;
    transition: .25s ease-in-out;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.15);
}

/* ---------------------------------------------------- */
/* HOW IT WORKS */
/* ---------------------------------------------------- */

.steps-box:nth-child(1) {
    padding-right: 5%;
    text-align: right;
}

.steps-box:nth-child(2) {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.work-steps {
    margin-bottom: 50px;
}

.work-steps:last-of-type {
    margin-bottom: 80px;
}

.work-steps div {
    width: 55px;
    height: 55px;
    position: relative;
    top: -.25rem;
    float: left; 
    margin-right: 1.25rem;
    padding: 8px;
    border: 2px solid #e67e22;
    border-radius: 50%;
    text-align: center;
    font-size: 140%;
}

.btn-app img {
    height: 50px;
    margin-right: 10px;
}

/* ---------------------------------------------------- */
/* CITIES
/* ---------------------------------------------------- */

.city-photo img {
    width: 100%;
    height: auto;
}

.city-photo {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* ---------------------------------------------------- */
/* SECTION TESTEMONIALS
/* ---------------------------------------------------- */

.section-testemonials {
    background-image: linear-gradient(rgba( 0, 0, 0, 0.7), rgba( 0, 0, 0, 0.7)), url(img/back-customers.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

cite {
    font-size: 90%;
    margin-top: 35px;
    display: block;
}

blockquote:before {
    content: "\201C";
    font-size: 4em;
    display: block;
    position: absolute;
    top: -55px;
    left: -3px;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/* ---------------------------------------------------- */
/* SIGN UP SECTION
/* ---------------------------------------------------- */

.section-plans {
    background-color: #f3f2f2;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px rgb(243, 242, 242)
}

.plan-box div{
    padding: 15px;
    border-bottom: 2px solid #fff2f2;
}

.plan-price {
    font-size: 300%;
    font-weight: 100;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-box div:first-child {
    background-color: rgb(250, 249, 249);
    border-top-left-radius: 5px;
    border-top-right-radius 5px;
}

.plan-price-meal li {
    list-style: none;
}

.plan-price span {
    font-size: 40%;
    font-weight: 300;
}

.btn-sign-up {
    display: block;
    float: center;
}


/* ---------------------------------------------------- */
/* CONTACT FORM
/* ---------------------------------------------------- */

.contact-form {
    width: 60%;
    margin: 0px auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc
}

input[type=checkbox] {
    margin: 10px 10px 10px 0;
}

*:focus {outline: none;}

/* ---------------------------------------------------- */
/* FOOTER
/* ---------------------------------------------------- */

footer {
    background: #333;
    padding: 40px;
    font-size: 80%;
}

.footer-nav, {
    float: left;
    list-style: none;
}

.social-links {
    list-style: none;
    float: right;
    text-decoration: none;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0; 
    color: #888;
    transition: color 0.2s;
}

.ion-social-facebook,
.ion-social-instagram,
.ion-social-googleplus,
.ion-social-twitter {
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-instagram:hover {
    color: #c25a14;
}

.ion-social-googleplus:hover{
    color: #dd4b39;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

footer p {
    margin-top: 20px;
    text-align: center;
    color: #888;
}

